.carpe_horizontal_slider_display_combo {
	CLEAR: left; MARGIN: 0px
}
.carpe_vertical_slider_display_combo {
	FLOAT: left; MARGIN: 0px
}
.carpe_horizontal_slider_track {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 0px; FLOAT: left; PADDING-BOTTOM: 4px; MARGIN: 0px; BORDER-LEFT: #ddd 1px solid; WIDTH: 120px; COLOR: #333; LINE-HEIGHT: 0px; PADDING-TOP: 4px; BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #bbb; TEXT-ALIGN: left
}
.carpe_vertical_slider_track {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 15px; BORDER-LEFT: #ddd 1px solid; WIDTH: 24px; COLOR: #333; PADDING-TOP: 3px; BORDER-BOTTOM: #999 1px solid; HEIGHT: 100px; BACKGROUND-COLOR: #bbb
}
.carpe_horizontal_slider_track .carpe_slider_slit {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #999 1px solid; Z-INDEX: z	; MARGIN: 4px 4px 2px; BORDER-LEFT: #999 1px solid; WIDTH: 110px; COLOR: #ccc; LINE-HEIGHT: 0px; BORDER-BOTTOM: #ddd 1px solid; POSITION: absolute; HEIGHT: 2px; BACKGROUND-COLOR: #333
}
.carpe_vertical_slider_track .carpe_slider_slit {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 0px; PADDING-BOTTOM: 1px; MARGIN: 4px 10px; BORDER-LEFT: #666 1px solid; WIDTH: 2px; COLOR: #333; LINE-HEIGHT: 0px; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; HEIGHT: 100px; BACKGROUND-COLOR: #000
}
.carpe_horizontal_slider_track .carpe_slider {
	BORDER-RIGHT: #333 2px solid; BORDER-TOP: #999 2px solid; FONT-SIZE: 0px; Z-INDEX: 1; MARGIN: 0px; BORDER-LEFT: #999 2px solid; WIDTH: 16px; COLOR: #333; LINE-HEIGHT: 0px; BORDER-BOTTOM: #333 2px solid; POSITION: relative; HEIGHT: 8px; BACKGROUND-COLOR: #666; TEXT-ALIGN: left
}
.carpe_vertical_slider_track .carpe_slider {
	BORDER-RIGHT: #333 2px solid; BORDER-TOP: #999 2px solid; FONT-SIZE: 0px; Z-INDEX: 1; MARGIN: 0px; BORDER-LEFT: #999 2px solid; WIDTH: 20px; COLOR: #333; LINE-HEIGHT: 0px; BORDER-BOTTOM: #333 2px solid; POSITION: relative; HEIGHT: 8px; BACKGROUND-COLOR: #666; TEXT-ALIGN: left
}
.carpe_slider_display_holder {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ddd 1px solid; WIDTH: 34px; COLOR: #333; PADDING-TOP: 0px; BORDER-BOTTOM: #999 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #bbb; TEXT-ALIGN: right
}
.carpe_slider_display {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 1px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: 30px; CURSOR: default; COLOR: #333; LINE-HEIGHT: 10px; PADDING-TOP: 3px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #bbb; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px
}
