HTML { 
  font: 9pt verdana, sans-serif;
  color: black;
}

BODY {
  background-color: #EEE;
  text-align: justify;
} 

LI {
  margin-bottom: 10px;
  text-align: justify;
}

B.listtitle {
  color: black; 
  font-size:11pt;
  background-color: DarkGray;
  padding-right:75%;
  padding-top:2%;
  padding-bottom:2%;
  padding-left:5%;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 2px;
  border-color: DarkSlateGray;
}

P {
  text-align: justify;
}

.right { text-align:right; }

H1 {
  font: verdana, sans-serif;
  color: black;
  text-align: left;
}

.small { 
  font-variant: small-caps;
  color: gray;
}

.tableitems {
  font-size:9pt;
  color: DarkSlateGray;
}

.commentitems {
  font-size:8pt;
  color: DarkSlateGray;
}


.subtitle {
   font: verdana, sans-serif;
   text-align: left;
   font-variant: small-caps;
   font-weight: normal;
   font-size:large;
   margin-top: 5px;
   margin-bottom: 5px;
   padding-top: 0px;
   padding-left: 10px;
   padding-bottom: 5px;
   color: white;
   background-color: DarkSlateGray;
   border-style: solid;
   border-color: black;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   border-bottom-width: 2px;
}

.inverted {
   font: verdana, sans-serif;
   text-align: left;
   font-size:small;
   font-variant: small-caps;
   margin-top: 5px;
   margin-bottom: 5px;
   padding-top: 0px;
   padding-left: 10px;
   padding-bottom: 5px;
   color: black;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
}

H2 {
  font: verdana, sans-serif;
  color: black;
  margin-bottom: 0px;
  border-bottom: solid 1px #33AA77;
  border-color: blue;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
}

.bottomblueline {
  border-bottom: solid 1px #33AA77;
  border-color: darkblue;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
}

.banner {
  color:DarkSlateGray;
  background:#CCC;
  font-variant:small-caps;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size:x-large;
  font-weight:bold;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-left:0px;
  border-right:0px;
}

div.subbanner {
  color:SlateGray;
  font-size:large;
  font-variant:small-caps;
  margin-bottom: 0px;
  background:#CCC;
  margin-top: 0px;
  padding-top: 3px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  border-top:0px;
  border-left:0px;
  border-right:0px;
  border-bottom-width:1px;
}

tr.subbanner {
  color:SlateGray;
  font-size:large;
  font-variant:small-caps;
  margin-bottom: 0px;
  background:#CCC;
  margin-top: 0px;
  padding-top: 3px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  border-top:0px;
  border-left:0px;
  border-right:0px;
  border-bottom-width:1px;
}

hr.dashed {
	background: transparent;
	color: transparent;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px dashed #000;
}

table.subbanner {
  color:SlateGray;
  font-size:large;
  font-variant:small-caps;
}

.specialsubbanner {
  color:SlateGray;
  font-size:11pt;
  font-variant:small-caps;
  margin-bottom: 0px;
  background:#CCC;
  margin-top: 0px;
  padding-top: 3px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  border-top:0px;
  border-left:0px;
  border-right:0px;
  border-bottom-width:1px;
}

A:hover {
  font: verdana, sans-serif;
  color: #5555EE;
}

A.dead {
  font: verdana, sans-serif;
  color: #333333;
  font-size:x-small;
}

A {
  font: verdana, sans-serif;
  color: darkblue;
  text-decoration: none;
}

form { 
  margin: 0px; }
  
  
 /**************************** JQueryToolTip **********************/
#JT_arrow_left{
  background-image: url(images/jtip/arrow_left.gif);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  z-index:101;
  left:-12px;
  height:23px;
  width:10px;
  top:-3px;
}

#JT_arrow_right{
  background-image: url(images/jtip/arrow_right.gif);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  z-index:101;
  height:23px;
  width:11px;
    top:-1px;
}

#JT {
  position: absolute;
  z-index:100;
  border: 1px solid #CCCCCC;
  background-color: #fff;
  text-align:left;
}

#JT_copy{
  padding:10px 10px 10px 10px;
  color:#333333;
}

.JT_loader{
  background-image: url(images/jtip/loader_big.gif);
  background-repeat: no-repeat;
  background-position: center center;
  width:100%;
  height:50px;
}

#JT_close_left{
  /*background-color: #CCCCCC;*/
  text-align: left;
  padding-left: 8px;
  padding-bottom: 5px;
  padding-top: 2px;
  font-weight:bold;
}

#JT_close_right{
  /*background-color: #000000;*/
  text-align: left;
  padding-left: 8px;
  padding-bottom: 5px;
  padding-top: 2px;
  font-weight:bold;
}

.JT_hidden {
  display:none;
}

/*.questionMark, .questionMark:link, .questionMark:visited, .questionMark:active{
  background-color:#369;
  padding:1px 2px;
  margin-left:5px;
  color:#FFFFFF;
  text-decoration: none;
}*/

/*.questionMark:hover{
  color:#CCCCCC;
  text-decoration: none;
}*/